<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productlist">
        <div class="card col-md-3">
           <!--- <img src="https://m.media-amazon.com/images/I/619EgFRyWuL._AC_SY200_.jpg" alt="">
            <h5 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch;"> Ghee</h5>
            <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch;">Ghee is clarified butterfat and contains about 99% of milk fat.</p>
            <p><strong>Amount:</strong>Rs.300/-</p>
            <button class="btn btn-dark">Add to cart</button>-->

            <img src="{{item.image}}" alt="">
            <h5 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch;"> {{item.title}}</h5>
            <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch;">{{item.description}}</p>
            <p><strong>Amount:</strong>Rs.{{item.price}}/-</p>
            <button class="btn btn-dark"(click)="addtocart(item)">Add to cart</button>
        </div>
    </ng-container>
    </div>
</div>
